**GOEDUHUB TECHNOLOGIES ONLINE TRAINING TASK 3**
# *GO_STP_7294*
# TASK3

Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [5]:
import operator
dic = {"hello":1, "go":2, "edu":3, "hub":4, "python":5}
print('Given Dictionary : ',dic)
sorted_dic = sorted(dic.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_dic)
sorted_dic = dict( sorted(dic.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_dic)

Given Dictionary :  {'hello': 1, 'go': 2, 'edu': 3, 'hub': 4, 'python': 5}
Dictionary in ascending order by value :  [('hello', 1), ('go', 2), ('edu', 3), ('hub', 4), ('python', 5)]
Dictionary in descending order by value :  {'python': 5, 'hub': 4, 'edu': 3, 'go': 2, 'hello': 1}

Q.2 Write a Python Program to add a key to a dictionary. 
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [9]:
d={0: 10, 1: 20}
print("Current Dictionary is :",d)
d.update({2:30})
print("Updated Dictionary is :",d)

Current Dictionary is : {0: 10, 1: 20}
Updated Dictionary is : {0: 10, 1: 20, 2: 30}

Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [2]:
temp = dict()
city_No=int(input("enter the number of cities ?"))
for i in range(city_No):
 city=input("Enter city %d name :" % (i+1))
 temperature=float(input("Enter its temperature :"))
 temp[city]=temperature
need = input("Enter the city to see it's temperature : ")
print("Temperature in %s is %.2f °F" % (need,temp[need]))

enter the number of cities ?2
Enter city 1 name :kl
Enter its temperature :2
Enter city 2 name :tn
Enter its temperature :8
Enter the city to see it's temperature : tn
Temperature in tn is 8.00 °F

Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [3]:
l1=["Black", "Red", "Maroon", "Yellow"]
l2=["#000000", "#FF0000", "#800000", "#FFFF00"]
d=dict(zip(l1,l2))
print(d)

{'Black': '#000000', 'Red': '#FF0000', 'Maroon': '#800000', 'Yellow': '#FFFF00'}

5 We have following information on Employees and their Salary (Salary is in lakhs),
Employee Salary
John 14
Smith 13
Alice 32
Daneil 21
1. Using above create a dictionary of Employees and their Salary
2. Write a program that asks user for three type of inputs,
a. print: if user enter print then it should print all Employees with their Salary in this
format,
1. John ==>14
2. Smith ==>13
3. Alice ==>32
4. Daneil ==>21
b. add: if user input adds then it should further ask for an Employee name to add. If
Employee already exists in our dataset then it should print that it exists and donothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our
dictionary and print it
c. remove: when user inputs remove it should ask for an Employee to remove. If an
Employee exists in our dictionary then remove it and print a new dictionary using
format shown above in (a). Else print that Employee doesn't exist!
d. query: on this again ask the user for which Employee he or she wants to query.
When a user inputs that Employee it will print the Salary of that Employee.

In [24]:
salary={'Julie':55,'Reshma':13,'Ramesh':30,'Fredy':33}
print(salary)
choice=input("Enter the choice 'print' or 'add' or 'remove' or 'query':")
if choice=="print":
 for i in salary:
   print(i,'==>',salary[i])
elif choice=="add":
 x=input("Enter the Name:")
 if x in salary:
   print("this Employee is exist")
 else:
  y=input("Enter the salary:")
 salary[x] = y
 for i in salary:
     print(i,'==>',salary[i])
elif choice=="remove":
 x=input("Which Name:")
 if x in salary:
  del salary[x]
  for i in salary:
    print(i,'==>',salary[i])
 else:
    print("this Employee doesn't exist")
elif choice=="query":
 x=input("Enter the Name:")
 print(x,'==>',salary[x])

{'Julie': 55, 'Reshma': 13, 'Ramesh': 30, 'Fredy': 33}
Enter the choice 'print' or 'add' or 'remove' or 'query':add
Enter the Name:Kiran
Enter the salary:77
Julie ==> 55
Reshma ==> 13
Ramesh ==> 30
Fredy ==> 33
Kiran ==> 77




---



---

# **Questions on Sets**

Q.1 What is the difference between a set and a frozenset? Create any set and try to use
frozenset(setname).

Frozen set is an immutable version of a Python set object and can be used as keys in dictionary or used as elements of other set.

In [29]:
s1={11,22,33,"hi",44,"goeduhub"}
print("type of s1",type(s1))
s2=frozenset(s1)
print("type of s2",type(s2))

type of s1 <class 'set'>
type of s2 <class 'frozenset'>

Q.2 Find the elements in a given set that are not in another set
set1 = {10,20,30,40,50},
set2 = {40,50,60,70,80},
Difference between set1 and set2 is {10,20,30}

In [32]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
set3=set1.difference(set2)
print("set 1 :",set1)
print("set 2 :",set2)
print("Difference between set1 and set2 is :",set3)

set 1 : {40, 10, 50, 20, 30}
set 2 : {70, 40, 80, 50, 60}
Difference between set1 and set2 is : {10, 20, 30}